<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aptor.aiagent</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Applications/AptorAgent/python/bin/python3</string>
		<string>-m</string>
		<string>agent</string>
		<string>--host</string>
		<string>127.0.0.1</string>
		<string>--port</string>
		<string>8889</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>WorkingDirectory</key>
	<string>/Applications/AptorAgent</string>

	<key>StandardOutPath</key>
	<string>~/Library/Logs/AptorAgent/agent.log</string>

	<key>StandardErrorPath</key>
	<string>~/Library/Logs/AptorAgent/agent_error.log</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>/Applications/AptorAgent</string>
	</dict>
</dict>
</plist>

